<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Womderlust</title>
</head>
<body>
    <h3>Listing details</h3>
    <ul>
        <li>Title: <%= listing.title %></li>
        <li>Price: &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <li>Description: <%= listing.description %></li>
        <li>Location: <%= listing.location %></li>
        
    </ul>
    <br>
    <a href="/listings/<%= listing._id %>/edit">Edit</a>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button type="submit">Delete</button>       
    </form>
</body>
</html>